In [2]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
import dask

from dask.distributed import Client
from datetime import datetime

client = Client(n_workers=3)

In [11]:
poi = pd.read_parquet("/Users/raac/Development/covid/mobility-cpp/test-dir/output/centrality_matrix-visits-010010201001--2020-06-22.parquet")

In [12]:
poi.sort_values(by=['poi_cbg'], ascending=False)

            poi_cbg   visitor_cbg        date  visits
64014  721130727011  721537505022  2020-06-22       7
64013  721130727011  721537505012  2020-06-22       7
64012  721130727011  721130730101  2020-06-22       7
64011  721130727011  721130727034  2020-06-22       7
64010  721130727011  721130727011  2020-06-22       7
...             ...           ...         ...     ...
3      010010203002  010010208012  2020-06-22       4
1      010010203002  010010205001  2020-06-22       4
5      010010203002  010010209004  2020-06-22       4
6      010010203002  011056868002  2020-06-22       4
0      010010203002  010010204001  2020-06-22       4

[64015 rows x 4 columns]

In [10]:
poi.head()

,safegraph_place_id,latitude,longitude,location_cbg
index,,,,
0,sg:0026d587c9b145b58272cbac7bdea56a,41.158062,-87.891611,170910105003
1,sg:0041bdf50f984826acd68ce19922ecd4,32.153735,-91.716358,220419503004
2,sg:005761d9681947629bf02a64cfd4aec2,33.136216,-117.327132,060730221001
3,sg:007236f9d77d4158bbd4d55f39d98e49,40.470182,-74.408106,340230064032
4,sg:0080800153224074974597d48f0a801b,32.837591,-117.271788,060730081012